body {
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612470114_144-p-seraya-kartinka-fon-bez-nichego-190.jpg);
    height: 100%;
    width: 100%;
    font-size: 100%;
    background-size: cover;
}

h1 {
    color:black;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

#main {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: gainsboro;
}

.tab1 {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.tab1 {
    background-color: azure;
}

.slider {
    max-width: 100%;
    margin: 20px auto;
}

.slide > img {
    max-width: 95%;
}
@media only screen and (max-width: 480px) {
    .slide > img {
        max-width: 95%;
    }
    .slide{
        margin: 10px;
    }
}
